html, body {
  height: 100%!important;
  font-family: 'GothamHTF-Light', Calibri, Sans-Serif;
}

h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 200;
    font-family: "GothamHTF-Light", "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

nav.stickynav {
    position: fixed;
    top: 80px;
}

nav i.fa-bars {
    margin-top: 10px;
}

.navbar {
    background-color: #2f343e
}

.navbar-header {
    width: auto;
}

@media(max-width: 768px) {
    .navbar-header {
        padding-left: 0;
    }

    .navbar-brand .navbar-brand-logo {
        width: 150px;
        margin-left: 10px;
    }

    .navbar .docs-search {
        margin-right: 20px;
    }

    .navbar-nav ul.signup-link {
        display: none;
    }
}

@media (max-width: 400px) {
    .navbar-brand .navbar-brand-logo {
        width: 120px;
        margin-left: 5px;
    }
}

@media only screen and (max-width: 480px) {
    #rtd-search-form input[type="text"] {
        margin: 0;
        display: inline-block;
    }
}

.navbar-nav {
    min-height: 80px;
    float: right;
    font-size: 14px;
}

.navbar-nav ul.signup-link {
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: 70px; 
}


.navbar-nav input[type="text"] {
    border: none;
    font-family: "GothamHTF-Light", "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
    box-shadow: none;
    border-radius: 5px;
    font-size: 100%;
    color: black;
}

.rst-content table.field-list td {
    padding-top: 8px;
}

body.wy-body-for-nav {
    background-color: #2f343e;
    background-image: none;
}

.btn {
    font-family: inherit;
    box-shadow: none;
    padding: 6px 12px;
}

.rst-content tt {
    background: none;
    border: none;
    font-size: 100%;
    padding: 0 2px;
}

.navbar-nav ul {
    float: left;
    color: #fff;
    line-height: 80px;
    margin-right: 40px;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav a {
    color: #fff;
}

.wy-nav-top {
    background-color: #2f343e
}

.wy-nav-top a {
    font-size: 24px;
    font-weight: normal;
}

.wy-menu-vertical .side-header{
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    padding: 15px 20px;
}

.wy-nav-content-wrap {
    padding-top: 80px;
}

.wy-nav-content {
    min-width: 100%;
}

.wy-menu-vertical li.toctree-l3 > a {
    padding-left: 60px;
}

.wy-nav-side {
    top: 80px;
}
