<div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="{{ pathto(master_doc) }}">Docs</a> &raquo;</li>
      {% for doc in parents %}
          <li><a href="{{ doc.link|e }}">{{ doc.title }}</a> &raquo;</li>
      {% endfor %}
    <li>{{ title }}</li>
      <li class="wy-breadcrumbs-aside">
        {% if display_github %}
          <a href="https://github.com/{{ gh_repository }}/blob/{{ gh_branch }}/source/{{ conf_py_path }}{{ pagename }}.rst">
            <i class="fa fa-github"></i> Edit on GitHub
          </a>
        {% elif show_source and has_source and sourcename %}
          <a href="{{ pathto('_sources/' + sourcename, true)|e }}" rel="nofollow"> View page source</a>
        {% endif %}
      </li>
  </ul>
  <hr/>
</div>
